<h2 mat-dialog-title>{{cmpTxt}}</h2>
<mat-dialog-content fusePerfectScrollbar>
    <form
        fxLayout="column"
        fxLayoutAlign="start"
        fxFlex="1 0 auto"
        name="form"
        [formGroup]="form"
    >
        <br />

        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
            <mat-form-field
                appearance="outline"
                fxFlex="50"
                class="pr-4 twodivs"
            >
                <mat-label>Campus Name</mat-label>
                <input matInput formControlName="name" />
                <mat-error>Campus Name is required!</mat-error>
            </mat-form-field>

            <mat-form-field
                appearance="outline"
                fxFlex="50"
                class="pl-4 twodivs"
            >
                <mat-label>Campus Alias</mat-label>
                <input matInput formControlName="alias" />
                <mat-error>Campus Alias is required!</mat-error>
            </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">          

            <mat-form-field
                appearance="outline"
                fxFlex="100"
                class=""
            >
                <mat-label>Select City</mat-label>
                <mat-select
                    formControlName="city"                   
                >
                    <mat-option *ngFor="let city of cities" [value]="city">
                        {{ city }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
            <mat-form-field
                appearance="outline"
                fxFlex="50"
                class="pr-4 twodivs"
            >
                <mat-label>Location</mat-label>
                <input matInput formControlName="location" />
                <mat-error>Location is required!</mat-error>
            </mat-form-field>

            <mat-form-field
                appearance="outline"
                fxFlex="50"
                class="pl-4 twodivs"
            >
                <mat-label>Campus Inaguration Date</mat-label>
                <input
                    matInput
                    formControlName="campus_inguration_date"
                    
                    [matDatepicker]="inaguration"
                />
                <mat-datepicker-toggle
                    matSuffix
                    [for]="inaguration"
                   
                ></mat-datepicker-toggle>
                <mat-datepicker  (selectedChanged)='onDateChange()' #inaguration></mat-datepicker>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field appearance="outline" fxFlex="100" class="textarea">
                <mat-label>Remarks</mat-label>
                <textarea
                    matInput
                    formControlName="remarks"
                    placeholder="Write some notes"
                    rows="4"
                ></textarea>
                <mat-icon matSuffix class="secondary-text">subject</mat-icon>
                <mat-error>Remarks is required!</mat-error>
            </mat-form-field>
        </div>

        <br />
    </form>
</mat-dialog-content>

<mat-dialog-actions style="position: relative; float: right; bottom: 10px;">
    <button class="mat-raised-button" (click)="close()" mat-dialog-close>
        CLOSE
    </button>
    <!-- <button
        class="mat-raised-button mat-primary"
        *ngIf="mode"
        (click)="saveNotes()"
        style="background: #039be5"
    >
        SAVE
    </button> -->
    <button
        class="mat-raised-button mat-primary"
        (click)="addCampus()"
        style="background: #039be5"
        mat-dialog-close
        [disabled]='form.invalid'
    >
       {{btnTxt}}
    </button>
</mat-dialog-actions>
