<div
    id="users"
    class="page-layout carded fullwidth inner-scroll"
    fusePerfectScrollbar
>
    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">
        <!-- HEADER -->
        <div
            class="header accent"
            fxLayout="column"
            fxLayoutAlign="center center"
            fxLayout.gt-sm="row"
            fxLayoutAlign.gt-sm="space-between center"
        >
            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">
                <button mat-icon-button class="mr-0 mr-sm-16">
                    <mat-icon>view_list</mat-icon>
                </button>
                <div
                    fxLayout="column"
                    fxLayoutAlign="start start"
                    [@animate]="{
                        value: '*',
                        params: { delay: '100ms', x: '-25px' }
                    }"
                >
                    <div class="h2">
                        Category
                    </div>
                </div>
            </div>

            <!-- / ADD BUTTON -->
            <button
                mat-raised-button
               (click)='onCreateCategory()'
                class="add-product-button fuse-white mt-24 mt-md-0"
            >
                <span>ADD CATEGORY</span>
            </button>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">
            <mat-table
                class="products-table"
                #table
                [dataSource]="dataSource"
                fusePerfectScrollbar
            >
                <!-- Name Column -->
                <ng-container matColumnDef="ID">
                    <mat-header-cell *matHeaderCellDef>Sr No.</mat-header-cell>
                    <mat-cell *matCellDef="let category">
                        <p class="text-truncate">{{ category.id }}</p>
                    </mat-cell>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="Category Name">
                    <mat-header-cell *matHeaderCellDef
                        >Category Name</mat-header-cell
                    >
                    <mat-cell *matCellDef="let category">
                        <p class="text-truncate">{{ category.name }}</p>
                    </mat-cell>
                </ng-container>
                <style>
                    .developer-image {
                        width: 52px;
                        height: 52px;
                        border: 1px solid rgba(0, 0, 0, 0.12);
                    }
                </style>

                <!-- Action Column -->
                <ng-container matColumnDef="Action">
                    <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
                    <mat-cell *matCellDef="let category" class="action-link">
                        <a [routerLink]="['/course/updatecategory' + '/' + category.id]">
                            <mat-icon  class="icon"
                                >edit</mat-icon
                            >
                        </a>
                        
                        <!-- | -->
                        <!-- <a (click)="onDeleteCategory(category.id)">
                            <mat-icon class="icon"
                                >delete</mat-icon
                            >
                        </a> -->
                    </mat-cell>
                </ng-container>

                <mat-header-row
                    *matHeaderRowDef="displayedColumns; sticky: true"
                ></mat-header-row>

                <mat-row
                    *matRowDef="let developer; columns: displayedColumns"
                    class="product"
                    matRipple
                >
                </mat-row>
            </mat-table>

            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
