<div
    id="users"
    class="page-layout carded fullwidth inner-scroll"
    fusePerfectScrollbar
>
    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">
        <!-- HEADER -->
        <div
            class="header accent"
            fxLayout="column"
            fxLayoutAlign="center center"
            fxLayout.gt-sm="row"
            fxLayoutAlign.gt-sm="space-between center"
        >
            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">
                <button mat-icon-button class="mr-0 mr-sm-16">
                    <mat-icon>reorder</mat-icon>
                </button>
                <div
                    fxLayout="column"
                    fxLayoutAlign="start start"
                    [@animate]="{
                        value: '*',
                        params: { delay: '100ms', x: '-25px' }
                    }"
                >
                    <div class="h2">
                        Need Analysis
                    </div>
                </div>
            </div>

            <!-- / ADD BUTTON -->
            <!-- <button
                mat-raised-button
                [routerLink]="['/enquiry/create']"
                class="add-product-button fuse-white mt-24 mt-md-0"
            >
                <span>CREATE ENQUIRY</span>
            </button> -->
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">
            <mat-table
                class="products-table"
                #table
                [dataSource]="dataSource"
                fusePerfectScrollbar
            >
                <!-- Name -->
                <ng-container matColumnDef="Name">
                    <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
                    <mat-cell *matCellDef="let enquiry"
                    [routerLink]="['/enquiry/enquiry/' +enquiry.id]"
                    style="color: #337ab7; cursor: pointer;"
                    >
                        <p class="text-truncate">{{ enquiry.full_name }}</p>
                    </mat-cell>
                </ng-container>              

                <!--  Course -->
                <ng-container matColumnDef="Course">
                    <mat-header-cell *matHeaderCellDef>Course</mat-header-cell
                    >
                    <mat-cell *matCellDef="let enquiry">
                        <p class="text-truncate">{{ enquiry.course.title }}</p>
                    </mat-cell>
                </ng-container>

                <!-- Contact -->
                <ng-container matColumnDef="Contact">
                    <mat-header-cell *matHeaderCellDef
                        >Contact No.</mat-header-cell
                    >
                    <mat-cell *matCellDef="let enquiry">
                        <p class="text-truncate">{{ enquiry.contact }}</p>
                    </mat-cell>
                </ng-container>

                <!-- Email Column -->
                <ng-container matColumnDef="Email">
                    <mat-header-cell *matHeaderCellDef
                        >Email</mat-header-cell
                    >
                    <mat-cell *matCellDef="let enquiry">
                        <p class="text-truncate">{{ enquiry.email }}</p>
                    </mat-cell>
                </ng-container>

                <!-- Campus Column -->
                <ng-container matColumnDef="Campus">
                    <mat-header-cell *matHeaderCellDef
                        >Campus</mat-header-cell
                    >
                    <mat-cell *matCellDef="let enquiry">
                        <p class="text-truncate">{{ enquiry.campus.name }}</p>
                    </mat-cell>
                </ng-container>

                <!-- Status Column -->
                <ng-container matColumnDef="Status">
                    <mat-header-cell *matHeaderCellDef
                        >Status</mat-header-cell
                    >
                    <mat-cell *matCellDef="let enquiry">
                        <p class="text-truncate">{{ enquiry.status}}</p>
                    </mat-cell>
                </ng-container>

               

                <!-- Actions Column -->
                <ng-container matColumnDef="Actions">
                    <mat-header-cell *matHeaderCellDef
                        >Actions</mat-header-cell
                    >
                    <mat-cell *matCellDef="let enquiry">
                        <mat-select placeholder="Call/Email/SMS" >
                            <mat-option [value]="" (click)='onCall(enquiry)'>
                                <mat-icon>call</mat-icon>
                                
                                Voice Call
                            </mat-option>
                            <mat-option [value]="" disabled>
                                <mat-icon>textsms</mat-icon>
                                Send SMS
                            </mat-option>
                            <mat-option [value]="" disabled>
                                <mat-icon>email</mat-icon>
                                Send Email
                            </mat-option>                            
                            <mat-option [value]="" (click)='onWalkIn(enquiry)'>
                                <mat-icon>directions_walk</mat-icon>
                                Walk-in
                            </mat-option>
                            <mat-option [value]="" [routerLink]="['/admission/create']">
                                <mat-icon>school</mat-icon>
                                Enroll
                            </mat-option>
                            <mat-option [value]="" (click)='onTransferEnquiry(enquiry)'>
                                <mat-icon>trending_flat</mat-icon>
                                Transfer Enquiry
                            </mat-option>                            
                        </mat-select>
                    </mat-cell>
                </ng-container>
                
                
                <style>
                    .developer-image {
                        width: 52px;
                        height: 52px;
                        border: 1px solid rgba(0, 0, 0, 0.12);
                    }
                </style>

                <!-- Action Column -->
                <!-- <ng-container matColumnDef="Action">
                    <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
                    <mat-cell *matCellDef="let category" class="action-link">
                        <a (click)="onUpdateCategory(category)">
                            <mat-icon  class="icon"
                                >edit</mat-icon
                            >
                        </a>
                        |
                        <a (click)="onDeleteCategory(category.id)">
                            <mat-icon class="icon"
                                >delete</mat-icon
                            >
                        </a>
                    </mat-cell>
                </ng-container> -->

                <mat-header-row
                    *matHeaderRowDef="displayedColumns; sticky: true"
                ></mat-header-row>

                <mat-row
                    *matRowDef="let developer; columns: displayedColumns"
                    class="product"
                    matRipple
                >
                </mat-row>
            </mat-table>

            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
