<!-- CONTENT CARD -->
<div class="content-card">
    <mat-table
        class="products-table"
        #table
        [dataSource]="dataSource"
        fusePerfectScrollbar
    >
        <!-- Follower -->
        <ng-container matColumnDef="Follower">
            <mat-header-cell *matHeaderCellDef>Follower</mat-header-cell>
            <mat-cell *matCellDef="let enquiryRemarks">
                <p class="text-truncate">
                    {{ enquiryRemarks.user.employee.full_name }}
                </p>
            </mat-cell>
        </ng-container>

        <!--  Status -->
        <ng-container matColumnDef="Status">
            <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
            <mat-cell *matCellDef="let enquiryRemarks">
                <p
                    class="text-truncate"
                    *ngIf="enquiryRemarks.status === 'prospective'"
                >
                    Prospective
                </p>
                <p
                    class="text-truncate"
                    *ngIf="enquiryRemarks.status === 'need_analysis'"
                >
                    Need Analysis
                </p>
                <p
                    class="text-truncate"
                    *ngIf="enquiryRemarks.status === 'proposal'"
                >
                    Proposal
                </p>
                <p
                    class="text-truncate"
                    *ngIf="enquiryRemarks.status === 'negotiation'"
                >
                    Negotiation
                </p>
                <p
                    class="text-truncate"
                    *ngIf="enquiryRemarks.status === 'successfull'"
                >
                    Successfully Enrolled
                </p>
                <p
                    class="text-truncate"
                    *ngIf="enquiryRemarks.status === 'not_interested'"
                >
                    Not Interested
                </p>
                <p
                    class="text-truncate"
                    *ngIf="enquiryRemarks.status === 'transfer_enquiry'"
                >
                    Transfered
                </p>
            </mat-cell>
        </ng-container>

        <!-- Type -->
        <ng-container matColumnDef="Type">
            <mat-header-cell *matHeaderCellDef>Type</mat-header-cell>
            <mat-cell *matCellDef="let enquiryRemarks">
                <p
                    class="text-truncate"
                    *ngIf="enquiryRemarks.type === 'new_enquiry'"
                >
                    New
                </p>
                <p
                    class="text-truncate"
                    *ngIf="enquiryRemarks.type === 'text_message'"
                >
                    SMS
                </p>
                <p
                    class="text-truncate"
                    *ngIf="enquiryRemarks.type === 'voice_call'"
                >
                    Call
                </p>
                <p
                    class="text-truncate"
                    *ngIf="enquiryRemarks.type === 'walk_in'"
                >
                    Walkin
                </p>
            </mat-cell>
        </ng-container>

        <!-- Availability -->
        <ng-container matColumnDef="Availability">
            <mat-header-cell *matHeaderCellDef>Availability</mat-header-cell>
            <mat-cell *matCellDef="let enquiryRemarks">
                <p
                    class="text-truncate"
                    *ngIf="enquiryRemarks.is_available === null"
                >
                    {{ "N/A" }}
                </p>
                <p
                    class="text-truncate"
                    *ngIf="enquiryRemarks.is_available === true"
                >
                    {{ "Yes" }}
                </p>
                <p
                    class="text-truncate"
                    *ngIf="enquiryRemarks.is_available === false"
                >
                    {{ "No" }}
                </p>
            </mat-cell>
        </ng-container>

        <!-- Probability -->
        <ng-container matColumnDef="Probability">
            <mat-header-cell *matHeaderCellDef>Probability</mat-header-cell>
            <mat-cell *matCellDef="let enquiryRemarks">
                <p class="text-truncate">{{ enquiryRemarks.probability }}%</p>
            </mat-cell>
        </ng-container>

        <!-- Last Followup Date -->
        <ng-container matColumnDef="Last Followup Date">
            <mat-header-cell *matHeaderCellDef
                >Last Followup Date</mat-header-cell
            >
            <mat-cell *matCellDef="let enquiryRemarks">
                <p class="text-truncate">
                    {{ enquiryRemarks.next_follow_up_date | date }}
                </p>
            </mat-cell>
        </ng-container>

        <!-- Remarks -->
        <ng-container matColumnDef="Remarks">
            <mat-header-cell *matHeaderCellDef>Remarks</mat-header-cell>
            <mat-cell *matCellDef="let enquiryRemarks">
                <p
                    class="text-truncate"
                    matTooltip="{{ enquiryRemarks.remarks }}"
                >
                    {{ enquiryRemarks.remarks }}
                </p>
            </mat-cell>
        </ng-container>

        <style>
            .developer-image {
                width: 52px;
                height: 52px;
                border: 1px solid rgba(0, 0, 0, 0.12);
            }
        </style>

        <mat-header-row
            *matHeaderRowDef="displayedColumns; sticky: true"
        ></mat-header-row>

        <mat-row
            *matRowDef="let developer; columns: displayedColumns"
            class="product"
            matRipple
        >
        </mat-row>
    </mat-table>

    <!-- <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator> -->
</div>
<!-- / CONTENT CARD -->
