<div fxLayout="column" fxFlex fusePerfectScrollbar>
    <mat-list class="date" cdkFocusRegionStart>
        <h3 matSubheader cdkFocusInit>
            <span>Today</span>
        </h3>

        <div class="secondary-text mat-display-1 mb-0 p-16">
            <div class="mb-12">
                {{ date | date: "EEEE" }}
            </div>
            <div fxLayout="row" fxLayoutAlign="start start">
                <span> {{ date | date: "d" }}</span>
                <span class="mat-subheading-1">th</span>
                <span> {{ date | date: "MMMM" }}</span>
            </div>
        </div>
    </mat-list>

    <mat-divider cdkFocusRegionEnd></mat-divider>

    <mat-list fusePerfectScrollbar>
        <h3 matSubheader>
            <span style="color: red;"><b>Today's Followups</b></span>
        </h3>

        <mat-accordion>
            <mat-expansion-panel *ngFor="let followup of followups">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <b> {{ followup.full_name }}</b>
                    </mat-panel-title>
                    <mat-panel-description>
                        {{ followup.status | uppercase }}
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <p
                    [routerLink]="[
                        '/enquiry/followups-to-enquiry/' + followup.id
                    ]"
                    (click)="toggleSidebarOpen('quickPanel')"
                    style="color: #337ab7; cursor: pointer;"
                >
                    FOLLOW
                </p>
                <div fxLayout="column">
                    <div
                        class="mb-12"
                        fxLayout="row"
                        fxLayoutAlign="space-between center"
                    >
                        <div>Campus</div>
                        <div fxLayout="row" fxLayoutAlign="start center">
                            <div class="secondary-text">
                                {{ followup.campus.name }}
                            </div>
                        </div>
                    </div>
                    <div
                        class="mb-12"
                        fxLayout="row"
                        fxLayoutAlign="space-between center"
                    >
                        <div>Course</div>
                        <div fxLayout="row" fxLayoutAlign="start center">
                            <div class="secondary-text">
                                {{ followup.course.title }}
                            </div>
                        </div>
                    </div>
                    <div
                        class="mb-12"
                        fxLayout="row"
                        fxLayoutAlign="space-between center"
                    >
                        <div>Contact</div>
                        <div fxLayout="row" fxLayoutAlign="start center">
                            <div class="secondary-text">
                                {{ followup.contact }}
                            </div>
                        </div>
                    </div>
                    <div
                        class="mb-12"
                        fxLayout="row"
                        fxLayoutAlign="space-between center"
                    >
                        <div>Joining Date</div>
                        <div fxLayout="row" fxLayoutAlign="start center">
                            <div class="secondary-text">
                                {{ followup.possible_join_date | date }}
                            </div>
                        </div>
                    </div>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-list>
    <mat-divider></mat-divider>

    <mat-list fusePerfectScrollbar>
        <h3 matSubheader>
            <span style="color: green;"><b>Upcoming Followups</b></span>
        </h3>

        <mat-accordion>
            <mat-expansion-panel *ngFor="let followup of comFollowups">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <b> {{ followup.full_name }}</b>
                    </mat-panel-title>
                    <mat-panel-description>
                        {{ followup.status | uppercase }}
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <p
                    [routerLink]="[
                        '/enquiry/followups-to-enquiry/' + followup.id
                    ]"
                    (click)="toggleSidebarOpen('quickPanel')"
                    style="color: #337ab7; cursor: pointer;"
                >
                    FOLLOW
                </p>
                <div fxLayout="column">
                    <div
                        class="mb-12"
                        fxLayout="row"
                        fxLayoutAlign="space-between center"
                    >
                        <div>Campus</div>
                        <div fxLayout="row" fxLayoutAlign="start center">
                            <div class="secondary-text">
                                {{ followup.campus.name }}
                            </div>
                        </div>
                    </div>
                    <div
                        class="mb-12"
                        fxLayout="row"
                        fxLayoutAlign="space-between center"
                    >
                        <div>Course</div>
                        <div fxLayout="row" fxLayoutAlign="start center">
                            <div class="secondary-text">
                                {{ followup.course.title }}
                            </div>
                        </div>
                    </div>
                    <div
                        class="mb-12"
                        fxLayout="row"
                        fxLayoutAlign="space-between center"
                    >
                        <div>Contact</div>
                        <div fxLayout="row" fxLayoutAlign="start center">
                            <div class="secondary-text">
                                {{ followup.contact }}
                            </div>
                        </div>
                    </div>
                    <div
                        class="mb-12"
                        fxLayout="row"
                        fxLayoutAlign="space-between center"
                    >
                        <div>Joining Date</div>
                        <div fxLayout="row" fxLayoutAlign="start center">
                            <div class="secondary-text">
                                {{ followup.possible_join_date | date }}
                            </div>
                        </div>
                    </div>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-list>

    <mat-divider></mat-divider>

    <!-- <mat-list>
        <h3 matSubheader>
            <span>Quick Settings</span>
        </h3>

        <mat-list-item>
            <mat-slide-toggle fxFlex class="mat-primary" [(ngModel)]="settings.notify" aria-label="Notifications"
                              labelPosition="before">
                <h3>Notifications</h3>
            </mat-slide-toggle>
        </mat-list-item>

        <mat-list-item>
            <mat-slide-toggle fxFlex class="mat-accent" [(ngModel)]="settings.cloud" aria-label="Cloud"
                              labelPosition="before">
                <h3>Cloud Sync</h3>
            </mat-slide-toggle>
        </mat-list-item>

        <mat-list-item>
            <mat-slide-toggle fxFlex class="mat-warn" [(ngModel)]="settings.retro" aria-label="Retro Thrusters"
                              labelPosition="before">
                <h3>Retro Thrusters</h3>
            </mat-slide-toggle>
        </mat-list-item>
    </mat-list> -->
</div>
