
<div>
    <mat-form-field appearance="outline" fxFlex="100" class="textarea">
        <mat-label>Duration in Weeks</mat-label>
        <input matInput  required />
        <mat-error>Duration in Weeks is reuired!</mat-error>
    </mat-form-field>
</div>

<div>
    <mat-form-field appearance="outline" fxFlex="100" class="textarea">
        <mat-label>Prerequisite</mat-label>
        <textarea
            matInput
            placeholder="Prerequisite"
            rows="2"
            required
        ></textarea>
        <mat-error>Prerequisite is required!</mat-error>
    </mat-form-field>
</div>


